<div class="card mx-5">
    <div class="card-header">
        Account Login
    </div>
    <img src="/img/Log-In-Image.jpg" alt="Organize with Notes" class="d-block">
    <div class="card-body">
        <form action="/users/signin" method="POST">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button class="btn btn-secondary btn-block">
                Sign In
            </button>
        </form>
    </div>
</div>